html {
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
.page-one{
    background-image: url("../assets/main-bg.jpg");
}

.page-two{
    background-image: url("../assets/the-games-bg.jpg");
}

.page-three{
    background-image: url("../assets/features.jpg");
}

.page-four{
    background-image: url("../assets/requirements.png");
}
.page-five{
    background-image: url("../assets/top-score-bg.png");
    background-color: rgb(94, 88, 88);
}

.bg-image{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
}

.btn{
    background-color: orange;
    width: 25%;
    font-weight: 650;
}

div > .judul{
    font-size: 80px;
}

p.text-1{
    font-size: 25px;
}


h2 {
    font-size: 55px;
}
h4{
    color: orange;
}


a.carousel-control-prev {
    left: -80px;
    width: 80px;
}

a.carousel-control-next {
    right: -80px;
    width: 80px;
}


h2.h2-absolute {
    width: 40%;
}

p.text-absolute {
    top: 12%;
    position: absolute;
    right: 21%;
}

table td{
    border: 0.5px solid white;
}

.table tbody tr td {
    padding-left: 6px;
    padding-right: 1px;
    padding-bottom: 30px;
    padding-top: 1px;
}

td h4 {
    margin-bottom: 0;
}

p.mb-0 {
    color: orange;
}

.date{
    font-size: 12px;
    color: darkseagreen;
}


@media only screen and (max-width: 600px) {
    /* .d-flex.mt-5{
        display: block!important;
    }
    p.text-absolute{
        position: unset;
    } */
    h2{
        font-size: 35px;
    }
    div > .judul {
        font-size: 40px!important;
        margin-bottom: 5px!important;
    }
    .bg-image{
        background-color: black;
    }
    .page-three{
        background-position: right;
    }
    .page-four{
        background-image: unset;
        /* padding-top: 50px; */
    }
    button.btn {
        width: 50%;
        margin-bottom: 1rem;
    }
    td > p {
        font-size: 11px;
        margin-bottom: unset;
    }
    .col-md-8.bg-dark > p{
        font-size: smaller;
        margin-bottom: 1px;
    }
    .date{
        margin-bottom: 2px;
    }
    a.carousel-control-next {
        right: 0px;
    }
    .sub-third-page {
        padding-left: 5px!important;
        padding-right: unset;
    }
    p.text-1 {
        font-size: 15px;
        margin-bottom: 10px!important;
    }
}

@media only screen and (max-width: 990px){
    a.carousel-control-next {
        right: 0px;
    }
    div > .judul {
        font-size: 70px;
    }
    .page-three {
        background-image: url(../assets/features.jpg);
        background-position: right!important;
    }
    .sub-third-page {
        padding-left: 50%;
        padding-right: 0;
    }
    .d-flex.mt-5{
        display: block!important;
    }
    p.text-absolute{
        position: unset;
    }
}