<%- include('../template/head') -%>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../template/nav') -%>
         <main class="inner cover" role="main">
             <%- include('../template/message') -%> 
             <h1 class="cover-heading">Form Example</h1>
             <form action="/form" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" required>
                </div>
                <div class="form-group">
                    <label for="Surname">Surname</label>
                    <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter Your surnmae" required>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
         </main>
         <%- include('../template/footer') -%> 
    </div>
</body> 

<script>
    window.onload = () => {
        document.getElementById('form').classList.add('active');
    }
</script>

</html>