<%- include('../template/head') -%>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" >
        <%- include('../template/nav') -%>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">MasterEJS</h1>
            <p class="lead">This is a sample app to Master EJS view template engine with Expressjs and Node.js framework</p>
            <p class="lead">
                <a href="http://" class="btn btn-lg btn-secondary">Read More At Medium</a>
            </p>
        </main>
        <%- include('../template/footer') -%>
    </div>
</body>

<script>
    window.onload = () => {
        document.getElementById('home').classList.add('active');
    }
</script>
</html>