<header class="masterhead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">MasterEJS</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a href="/" class="nav-link" id="home">Home</a>
            <a href="/links" class="nav-link" id="links">Links</a>
            <a href="/list" class="nav-link" id="list">List</a>
            <a href="/table" class="nav-link" id="table">Table</a>
            <a href="/form" class="nav-link" id="form">Form</a>
        </nav>
    </div>
</header>